*{
    box-sizing: border-box;
}
body{
    background-color: rgb(1, 1, 44);
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
}
.ring{
    width: 250px;
    height: 250px;
    box-shadow: 0 7px 0 #c2c2c2 ;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.text{
    width: 250px;
    height: 250px;
    color: rgb(218, 218, 218);
    font-size: 1.8rem;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.384)255, 255, 255, 0.671;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 250px;
    letter-spacing: 2px;
}

@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}